<!-- <h3>Latest Statuses</h3>
<ul class="list-unstyled">
    <li ng-repeat="status in statuses"><a ng-click="">{{ status }}</a></li>
</ul> -->
<!-- 
<div class="page-header">
  <h1>Latest statuses</h1>
</div>

<div class="panel">
  <div class="panel-heading">Post title?</div>
  <div class="panel-content">The content of the post</div>
</div>

<div class="panel">
  <div class="panel-heading">Post title?</div>
  <div class="panel-content">The content of the post</div>
</div>

<div class="panel">
  <div class="panel-heading">Post title?</div>
  <div class="panel-content">The content of the post</div>
</div> -->