.idea/
*.pyc
bak/

kikar_hamedina/kikar_hamedina/settings/base.py
kikar_hamedina/kikar_hamedina/settings/local.py

debug.log
kikar_hamedina/debug.log

*-db-backup

kikar_hamedina/kikar_hamedina/settings/deploy.py
kikar_hamedina/kikar_hamedina/settings/key.py
kikar_hamedina/initial_data.json

.vagrant/
