<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description"
          content="כיום, 106 מבין המועמדים לכנסת ה-20 פעילים בפייסבוק באופן קבוע. אנו מרכזים את כל מה שהמועמדים כותבים, ועוזרים לך לקחת חלק בשיחה. פרויקט של הסדנא לידע ציבורי.">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% load staticfiles %}
    {% load kikartags_extras %}
    <title>{% block title %}{% endblock title %} | כיכר המדינה</title>

    <!-- Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Alef:400,700&subset=all' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS NVD3 -->
    <link href="{{ STATIC_URL }}css/nv.d3.css" rel="stylesheet">
    <!-- Bootstrap RTL Theme -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-rtl.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.css"/>

    <!-- JS -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    {#    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>#}
    {#    <script src="{{ STATIC_URL }}js/libs/nvd3/1.1.15-beta/nv.d3.js"></script>#}
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/handlebars/handlebars-v1.3.0.js"></script>

    <!-- jQueryUI - autocomplete -->
    <link rel="stylesheet"
          href="{{ STATIC_URL }}jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css"/>
    <script type="text/javascript"
            src="{{ STATIC_URL }}jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>

    <!-- Our JS -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/searchBar.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/updateStatusPanels.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/addTagToStatus.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/searchBar.css"/>

    {% block link %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}

    <!-- Handelbar Templates -->


    {% block handlebar_templates %}
    {% endblock %}

    {% verbatim %}

    <!-- Templates for the search bar autocomplete -->
    <script id="result-member-list-item-template" type="text/x-handlebars-template">

        <li class="result-container">
            <a href="/member/{{id}}">
                <div class="result-main-text"><span class="glyphicon glyphicon-user"></span> {{name}}</div>
                <div class="result-sub-text">{{party}}</div>
            </a>
        </li>
    </script>
    <script id="result-tag-list-item-template" type="text/x-handlebars-template">
        <li class="result-container">
            <a href="/tag/name/{{name}}">
                <div class="result-main-text"><span class="glyphicon glyphicon-tag"></span> {{name}}</div>
            </a>
        </li>
    </script>
    <script id="result-party-list-item-template" type="text/x-handlebars-template">
        <li class="result-container">
            <a href="/party/{{id}}">
                <div class="result-main-text"><i class="fa fa-group"></i> {{name}}</div>
            </a>
        </li>
    </script>
    {% endverbatim %}

    <!-- Google Analytics -->

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-26337683-3', 'kikarhamedina.com');
        ga('send', 'pageview');

    </script>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand photo-container" href="{% url 'index' %}">
                <img src="{{ STATIC_URL }}media/kikar_hamedina_logo.png" class="logo-photo"
                     alt="כיכר המדינה">
            </a>
        </div>

        <div class="collapse navbar-collapse col-sm-8">
            {#        <div class="col-sm-3  pull-left">#}
            <div class="navbar-form navbar-left dropdown" id="search-bar-form" role="search">
                <div class="input-group" id="search-results-dropdown">
                    <input id="navbar-search-box" type="text" name="search_str" class="form-control"
                           autocomplete="off" placeholder="הכנס שם של מועמדת, רשימה, נושא, או פשוט מילים שהוזכרו..."
                           data-toggle="dropdown">
                    <ul id="search-results-list" class="dropdown-menu">
                    </ul>
                    <div class="input-group-btn">
                        <button class="btn btn-success" id="search-bar-submit" data-target="{% url 'search' %}"
                                type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <li class="navbar-nav navbar-right hidden-md hidden-sm">
                    <a href="{% url 'billboards' %}" class="navbar-options">
                        המצעד
                    </a>
                </li>
                <li class="navbar-nav navbar-right  hidden-md hidden-sm">
                    <a href="{% url 'about' %}" class="navbar-options">
                        אודות
                    </a>
                </li>
                <li class="navbar-nav navbar-right  hidden-md hidden-sm">
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=AZ8ZHE9EVN59Y"
                       class="navbar-options">
                        לתרומה
                    </a>
                </li>

                {% if user.is_authenticated %}
                    <li class="navbar-nav navbar-right hidden-md hidden-sm">
                        <a href="{% url 'untagged' %}" class="navbar-options">תיוג</a>
                    </li>
                    <li class="navbar-nav navbar-right hidden-md hidden-sm">
                        <a href="{% url 'zinnia:entry_archive_index' %}" class="navbar-options">בלוג</a>
                    </li>
                {% endif %}
                <!-- <li class="active"><a href="#">פוליטיקאים</a></li> -->
                <!-- <li><a href="#about">מפלגות</a></li> -->
                <!-- <li><a href="#contact">נושאים</a></li> -->
                <li class="dropdown hidden-lg hidden-xs">
                    <a href="" class="dropdown-toggle navbar-options" data-toggle="dropdown">אפשרויות
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'billboards' %}" class="navbar-options">
                                המצעד
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}" class="navbar-options">
                                אודות
                            </a>
                        </li>
                        <li>
                            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=AZ8ZHE9EVN59Y"
                               class="navbar-options">
                                לתרומה
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'untagged' %}" class="navbar-options">תיוג</a>
                            </li>
                            <li>
                                <a href="{% url 'zinnia:entry_archive_index' %}" class="navbar-options">בלוג</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>

        </div>
        <!--/.nav-collapse -->
    </div>
</div>

{% block body %}
    <div class="container">

        <div id="context-header">
            <div class="page-header">
                <h1>
                    {% block h1 %}
                    {% endblock %}
                </h1>
            </div>
        </div>

        {% block context-header %}
            <div class="container well" id="details-container">
                {% block details %}

                {% endblock %}
            </div>
        {% endblock %}

        {% block main_content %}
        {% endblock %}

    </div>
{% endblock body %}

</body>
</html>
