<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <title>כיכר המדינה | {% block title %}{% endblock title %}</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Alef:400,700' rel='stylesheet' type='text/css'>
    <!-- Our CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css"/>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css"/>
    <!-- Bootstrap RTL Theme -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-rtl.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.css"/>


    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap.js"></script>

    <!-- jQueryUI - autocomplete -->
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand photo-container" href="/plain/">
                <img src="{{ STATIC_URL }}media/kikar_hamedina_logo.png" height="29px" class="logo-photo navbar-nav"
                     alt="כיכר המדינה"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">

                    <a href="" class="dropdown-toggle navbar-options" data-toggle="dropdown"><i class="fa fa-user"></i>
                        פוליטיקאים <b class="caret"></b></a>
                    <ul class="dropdown-menu" id="politicians-dropdown-menu">
                        <li><a href={% url 'all-persons' %}>כל הפוליטיקאים</a></li>
                        <li class="divider"></li>
                        {% for person in navPersons %}
                            <li><a href="{% url 'plain-person' person.id %}">{{ person.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle navbar-options" data-toggle="dropdown"><i class="fa fa-group"></i>
                        מפלגות <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'all-parties' %}">כל המפלגות</a></li>
                        <li class="divider"></li>
                        {% for party in navParties %}
                            <li><a href="{% url 'plain-party' party.id %}">{{ party.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="navbar-options dropdown-toggle" data-toggle="dropdown"><i
                            class="fa fa-comments-o"></i>
                        נושאים <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'all-tags' %}">כל הנושאים</a></li>
                        <li class="divider"></li>
                        {% for tag in navTags %}
                            <li><a href="{% url 'plain-tag' 'name' tag.name %}">{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="navbar-nav navbar-right">
                    <a href="{% url 'plain-all-statuses' %}" class="navbar-options">כל העדכונים</a>
                </li>
                <li class="navbar-nav navbar-right">
                    <a href="{% url 'about' %}" class="navbar-options">
                        אודות</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="navbar-nav navbar-right">
                        <a href="{% url 'plain-untagged' %}" class="navbar-options">תיוג פוסטים</a>
                    </li>
                {% endif %}
                <!-- <li class="active"><a href="#">פוליטיקאים</a></li> -->
                <!-- <li><a href="#about">מפלגות</a></li> -->
                <!-- <li><a href="#contact">נושאים</a></li> -->

            </ul>
            {#            <ul class="nav navbar-nav" >#}
            {#  #}
            {#            </ul>#}
            <form class="navbar-form navbar-left"
                  role="search"
                  action='{% url 'plain-search' %}'
                  method="get">
                <div class="form-group">
                    <input type="text" name="q" class="form-control" placeholder="חיפוש...">
                </div>
                <button type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
            </form>

        </div>
        <!--/.nav-collapse -->
    </div>
</div>

{% block body %}
    <div class="container">

        <div id="context-header">
            <div class="page-header">
                <h1>
                    {% block h1 %}
                    {% endblock %}
                </h1>
            </div>
        </div>


        <div class="container well">
            {% block details %}

            {% endblock %}
        </div>




        {% block content %}
        {% endblock %}


    </div>
{% endblock body %}

</body>
</html>