<!DOCTYPE html>
<html>
<head>
    <title>כיכר המדינה | {% block title %}{% endblock title %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" />
    <!-- Bootstrap RTL Theme -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-rtl.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.css" />

    <!-- Our CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap.js"></script>

</head>
<body>
    {% block body %}{% endblock body %}
</body>
</html>