body {
    padding-top: 50px; /* size of the nav bar */
    /*background-color: #DDF1FF;*/
    font-family: "Alef", Arial, Sans-Serif;
}

.wide-input {
    width: 300px;
}

.logo-photo {
    height: 29px;
}

.profile-photo {
    align-items: right;
}

/*
.logo-photo:hover {
	width: 79px;
}
*/
.navbar-options {
    margin-top: 9px;
}

/*
.navbar-brand {
    color: #fff !important;
}
*/

#date-row-container {
    height: 20px;
}

#name-row-container {
    height: 20px;
}

#panel-expanded-footer {
    background-color: #555555;
}

#profile-photo {
    max-height: 300px;
}

/*#politicians-dropdown-menu {
	min-width: 1000px;
} */

.link-on-blue {
    color: white;
}

.link-on-blue:hover {
    color: white;
}

#list-of-member-title {
    display: none;
}

#list-of-party-title {
    display: none;
}

#list-of-tag-title {
    display: none;
}

/*#list-of-search_str-title {*/
/*display: none;*/
/*}*/

#searchgui-operator-input {
    display: none;
}

.main-page-frame {
    /*background-color: cadetblue;*/
    /*border-style: solid;*/
    /*border-color: #000000;*/
    /*border-width: 1px;*/
    /*align-content: center;*/
    /*align-items: center;*/
    text-align: center;
    padding: 0;
}

.main-page-frame-links {
    padding: 0;
    text-align: right;
}

#difference-in-fan-count {
    color: darkgrey;
}

#hasadna-logo-img {
    height: 20px;
}

.hidden-updating-spinner {
    display: none;
}