/*
Colors

I'm not using rgb for any special reason. It was just the easiest way for me to get the colours
used in the pdf design.

darker-gray: rgb(40, 44, 54) - for the extra popout sidemenu
dark-gray: rgb(49, 53, 64) - for the sidebar
gray:  rgb(247,247,247) - for the navbar
dark-blue: rgb(0, 81, 144) - brand, links
blue-sidebar-hover: rgb(0, 60, 106)
gray-social-icons: rgb(233, 234, 236)
blue-social-stats-icons: rgb(40, 70, 120)

// not using:
blue-link-color: rgb(40, 70, 120)
*/

@font-face {
  font-family: 'Alef';
  src: url('../fonts/Alef-Bold.eot');
  src: url('../fonts/Alef-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Alef-Bold.woff') format('woff'),
  url('../fonts/Alef-Bold.ttf') format('truetype'),
  url('../fonts/Alef-Bold.svg#alefbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Alef';
  src: url('../fonts/Alef-Regular.eot');
  src: url('../fonts/Alef-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Alef-Regular.woff') format('woff'),
  url('../fonts/Alef-Regular.ttf') format('truetype'),
  url('../fonts/Alef-Regular.svg#alefregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

* {
  font-family: 'Alef', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.bold {
  font-weight: bold;
}

/*html, body {*/
  /*height: 100%;*/
/*}*/

body {
  text-align: right;
  direction: rtl;
  background-color: rgb(49, 53, 64);
  padding-top: 60px;
}
@media (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}

a {
  /*color: rgb(40, 70, 120);*/
  color: rgb(0, 81, 144);
}

/* bootstrap override */

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: rgb(0, 81, 144);
  border: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: rgb(49, 53, 64);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: rgb(0, 81, 144);
}

/* end of bootstrap override */

.top-bar {
  /*height: 100%;*/
  /*height: 60px;*/
  /*line-height: 60px;*/
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .top-bar {
    height: 80px;
    line-height: 80px;
  }
}

.logo {
  height: 60px;
  line-height: 60px;
  float: right;
  background-color: rgb(0, 81, 144);
  color: white;
  /*height: 100%;*/
  width: 100%;
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .logo {
    width: 20%;
    height: 80px;
    line-height: 80px;
  }
}

.logo > a > img {
  max-width: 80%;
  max-height: 70%;
}

/* mobile menu */
#pull-menu {
  color: white;
  font-size: 30px;
  position: absolute;
  right: 15px;
  top: 0;
  float: right;
}
#pull-menu:hover {
  text-decoration: none;
}
#pull-menu {
  /*display: block;*/
  /*background-color: #283744;*/
  /*width: 100%;*/
  /*position: relative;*/
}
/*#pull-menu:after {*/
  /*content:"";*/
  /*background: url('nav-icon.png') no-repeat;*/
  /*background-color: green;*/
  /*width: 30px;*/
  /*height: 30px;*/
  /*display: inline-block;*/
  /*position: absolute;*/
  /*right: 15px;*/
  /*top: 10px;*/
/*}*/
@media (min-width: 768px) {
  #pull-menu {
    display: none;
  }
}

.nav-bar {
  display: none;
  background-color: rgb(247, 247, 247);
}
@media (min-width: 768px) {
  .nav-bar {
    display: block;
    float: right;
    /*background-color: rgb(247, 247, 247);*/
    height: 100%;
    width: 80%;
  }
}

.search {
  width: 100%;
  /*padding: 10px 10px;*/
  padding: 75px 10px 15px 10px;
}

@media (min-width: 768px) {
  .search {
    width: 65%;
    float: right;
    font-weight: 900;
    font-size: 16px;
    padding: 0;
    padding-right: 20px;
  }
}

.search > .glyphicon-search {
  padding-left: 10px;
}

.search > input {
  outline-width: 0;
  border: 0;
  /*
  better solution for search bar is like the second answer here:
  http://stackoverflow.com/questions/773517/style-input-element-to-fill-remaining-width-of-its-container
  would allow us to do width 100% for the input
  */
  width: 88%;
  background-color: transparent;
  line-height: 28px;
  height: 28px;
}

.form-control {
  border-radius: 0;
}

/* search dropdown */

#search-results-list {
  display: none; /*hidden by default. shown by js when there are autocomplete results*/

  position: relative;

  color: black;
  list-style: none;
  /*background-color: #fff;*/
  
  background-color: rgb(247,247,247);
  border: 1px solid rgb(232, 232, 232);

  z-index: 2000;
  max-height: 400px;
  overflow-y: auto;
  line-height: 20px;
  padding: 0;
  margin-top: 10px;

  font-size: 14px;
}

@media (min-width: 768px) {
  #search-results-list {
    right: -20px;
    margin-top: 0;
  }
}

li.result-container {
  border-bottom: 1px solid rgb(232, 232, 232);
  padding: 10px 20px;
}

li.result-container:hover {
  background-color: rgb(0, 81, 144);
}

li.result-container:hover a {
  color: white;
  text-decoration: none;
}

.result-main-text {
  font-weight: bold;
}

.result-sub-text {
  font-size: 12px;
}

/* end of search dropdown */

.nav-bar-items {
  width: 100%;
  list-style: none;
  padding: 0;
  overflow: auto;
  border-top: 1px solid #eeeeee;
}

.nav-bar-items > li > a {
  float: right;
  width: 33.3333333%;
  text-align: center;
  padding: 0;
}

.nav-bar-items > li > a:hover {
  color: white;
  background-color: rgb(0, 81, 144);
}

.nav-bar-items > li:hover > a {
  color: white;
}

.nav-bar-items > li > a {
  text-decoration: none;
  color: rgb(102, 102, 102);
  font-weight: 600;
  display: block;
  padding: 15px 0;
}

@media (min-width: 768px) {
  .nav-bar-items {
    width: 35%;
    float: right;
    overflow: none;
    border-top: 0;
  }

  .nav-bar-items > li > a {
    padding: 0;
    border-right: 1px solid rgb(232, 232, 232);
    border-left: 1px solid #fff;
  }

  .nav-bar-items > li > a {
    padding: 0 20px;
  }
}

/*#indented ul li:first-child {border-left: none;}*/
/*#indented ul li:last-child {border-right: none;}*/

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    /*position: fixed;*/
    /*top: 80px;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*z-index: 1000;*/
    /*overflow-x: hidden;*/
    /*overflow-y: auto; *//* Scrollable contents if viewport is shorter than content. */

    display: block;
    height: 100%;
    float: right;
    width: 20%;
    background-color: rgb(49, 53, 64);
    color: white;
  }
}

.nav-sidebar {
  list-style: none;
  padding: 0;
  padding-right: 20px;
  /*padding-top: 20px;*/
  /*padding-right: 10%;*/
}

.nav-sidebar > li {
  width: 100%;
  /*padding: 2px 0;*/
}

.nav-sidebar > li > a, nav.sidebar ul ul li a {
  /*padding: 2px 0;*/
  color: #ffffff;
  display: block;
  padding: 5px 10px;
  /*padding: 10px 10px 10px 0;*/
}

.nav-sidebar > li > a:hover {
  background-color: rgb(0, 60, 106);
  text-decoration: none;
  /*background-color: rgb(0, 81, 144);*/
}

.nav-sidebar-links-container {
    width:100%;
    margin: 10px 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(70, 70, 70);
}

.nav-sidebar-links-container > li {
    list-style: none;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.nav-sidebar-links-container > li:hover {
    background-color: rgb(0, 60, 106);
}

.nav-sidebar-links-container > li > a {
    color: white;
}

.nav-sidebar-links-container > li > a:hover {
    color: white;
    text-decoration: none;
}

.nav-sidebar-heading {
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  padding-top: 0;
}

nav.sidebar > hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid rgb(56, 60, 73);
  border-bottom: 1px solid rgb(40, 43, 52);
  margin-right: 10%;
  margin-left: 10%;
}

/* popout nav */
nav.sidebar ul ul {
  display: none;
}

nav.sidebar ul li:hover > ul {
  display: block;
}

nav.sidebar ul {
  /*position: relative;*/
}
nav.sidebar ul:after {
  /*content: ""; clear: both; display: block;*/
}

@media (min-width: 768px) {
  nav.sidebar ul ul {
    z-index: 2000;
    position: fixed;
    top: 80px;
    bottom: 0px;
    right: 20%;
    background-color: rgb(40, 44, 54);
    width: 20%;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    /*max-height: 300px;*/
    overflow-y: auto;
  }
}

nav.sidebar ul ul li {

}

nav.sidebar ul ul li a {

}

nav.sidebar ul ul li a:hover {
  text-decoration: underline;
  color: #ffffff;
}

/*nav ul ul li {*/
  /*float: none;*/
  /*border-top: 1px solid #6b727c;*/
  /*border-bottom: 1px solid #575f6a;*/
  /*position: relative;*/
/*}*/
/*nav ul ul li a {*/
  /*padding: 15px 40px;*/
  /*color: #fff;*/
/*}*/
/*nav ul ul li a:hover {*/
  /*background: #4b545f;*/
/*}*/

.main-area {
  width: 100%;
  height: 100%;
  float: right;
  min-height: 800px;
  background-color: #fff ;
  padding: 0;
  overflow-wrap: break-word;
}
@media (min-width: 768px) {
  .main-area {
    width: 80%;
  }
}

.politician-info-bar {
  background-color: #fff;
  height: 100px;
  border-bottom: 1px solid rgb(232, 232, 232);
  padding: 10px;
}

.politician-info-bar-photo {
  float: right;
  width: 80px;
  height: 80px;
  margin-left: 10px;
}

.politician-info-bar-name, .politician-info-bar-party, .politician-info-bar-likes {
  line-height: 40px;
}
@media (min-width: 768px) {
  .politician-info-bar-name, .politician-info-bar-party, .politician-info-bar-likes {
    line-height: 80px;
  }
}

.politician-info-bar-name {
  float: right;
  font-size: 22px;
  font-weight: bold;
  margin-left: 30px;
}

.politician-info-bar-party, .politician-info-bar-likes {
  float: right;
  font-size: 18px;
  margin-left: 15px;
}
@media (min-width: 768px) {
  .politician-info-bar-party, .politician-info-bar-likes {
    float: left;
  }
}

/* Information about the search displayed */
.origins-container {
    height: auto;
    padding: 0 8%;
    margin-bottom: 20px;
}

.origin-table > tbody > tr > td{
    border-bottom: 1px solid rgb(232, 232, 232);
    padding: 7px 0px;
}

.origin-table > tbody > tr > td:first-child{
    width:90px;
    text-align: center;
    border-left: 1px solid rgb(232, 232, 232);
    padding-left: 5px
}


.origin-title-container {
    padding:0px 6px;
    margin: 3px 0px;
    background-color: rgb(51, 191, 132);
    color: white;
    vertical-align: middle;
}

.origin-table > tbody > tr > td:nth-child(2){
    padding-right: 5px;
}

.origin-actual-container {
    padding: 0px 6px;
    margin: 3px 0px;
    /*background-color: rgb(40, 70, 120);*/
    background-color: rgb(0, 81, 144);
    color: white;
    line-height: 25px;
    display: inline-block;
}

.origin-error-container {
    padding: 0px 6px;
    margin: 3px 0px;
    background-color: rgb(218, 95, 95);
    color: white;
    line-height: 25px;
    display: inline-block;
}

/* Actual posts styling */

.posts-container, .extra-info {
  margin-top: 20px;
}


.posts-container {
  float: right;
  height: 100%;
  width: 100%;
  background-color: #fff;
}
@media (min-width: 768px) {
  .posts-container {
    width: 60%;
  }
}

.posts-sortby-container {
  margin-bottom: 10px;
  padding: 0 8%;
}

.posts-sortby {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
}

.posts-sortby > li {
  float: right;
  margin: 0;
  margin-left: 5px;
  margin-bottom: 5px;
}

.posts-sortby > li > a {
  color: #fff;
  background-color: rgb(0, 81, 144);
  text-decoration: none;
  padding: 7px 10px;
  line-height: 33px;
}

.posts-sortby > li > a:hover {
  text-decoration: none;
  background-color: rgb(49, 53, 64);
}

.posts-sortby > li.active > a {
  background-color: rgb(49, 53, 64);
}

.posts-filter {
  float: left;
}

/* this gives us a vertical horizontal line next to the posts */
.posts-vertical-line-left {
  border-left: 1px solid #eeeeee;
  /*margin: 30px 0;*/
  /*margin: 20px 0 0 0;*/
  /*padding: 0;*/
  /*height: 100%;*/
  /*margin: 20px 0;*/
  /*padding: 20px 12%;*/
}

.posts {
  /*padding: 20px 60px;*/
  padding: 0 8%;
}

.post {

}

.post-mk-image {
  float: right;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.post-head {
  float: right;
  width: 100%;
}

.post-mk-name {
  font-size: 16px;
  font-weight: 600;
}

.post-time {

}

.post-time > a {
    color: black;
}

.post-content {
  width: 100%;
  float: right;
}

.post-text {

}

.post-image-container {
  text-align: center;
  position: relative;
}

.post-image {
  max-width: 90%;
  /*max-height: 200px;*/
}

.post-video {
  max-width: 100%;
}

.play-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  background-color: rgb(0, 81, 144);
  border-radius: 0;
}

.play-button > i {
  color: #fff;
}

.play-button:hover {
  background-color: #fff;
}

.play-button:hover > i {
  color: rgb(0, 81, 144);
}

.post-link {
  border: 1px solid #eeeeee;
  /*Important:*/
  position: relative;
}

.post-link-image {
  width: 100%;
}

.post-link-text {
  padding: 6px 11px;
}

.post-link-caption {
  color: #9197A3;
}

/* Turns the containing div into a link. Containing div must have position: relative; */
.link-spanner {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif 
  background-image: url('empty.gif');*/
}   



.post-social-stats {
  float: left;
  font-size: 14px;
  background-color: rgb(233, 234, 236);
  padding: 10px 15px;
  margin-top: 10px;

  /* rounded corners */
  /* using something like sass with compass makes this a lot easier... consider using in the future */
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px; /* future proofing */
  -khtml-border-radius: 13px; /* for old Konqueror browsers */
}

.post-social-stats > a {
  margin: 0 6px;
  color: rgb(0, 81, 144);
}

.post-social-stats > a:hover {
  text-decoration: none;
  color: rgb(49, 53, 64);
}


@media (min-width: 768px) {
  .extra-info {
    display: block;
    float: right;
    /*background-color: orange;*/
    width: 40%;
  }
}

.extra-info-group > ul {
  padding-right: 0;
}

.extra-info-group > ul > li {
  list-style: none;
}

.tags-container {
  float: right;
  width: 100%;
  padding-top: 10px;
}

.tags-container > ul {
  padding: 0;
  list-style: none;
}

.tags-container > ul > li {
  float: right;
  margin: 0 3px 5px 3px;
  /*overflow: auto;*/
}

.tag-link {
  display: inline-block;
  background-color: rgb(0, 81, 144);
  color: #fff;
  padding: 5px 7px;
}

.tag-link:hover,
.tag-link:focus {
  background-color: rgb(49, 53, 64);
  color: #fff;
  text-decoration: none;
}

.add-tags-container {
  width: 100%;
  display: inline-block;
  margin-top: 10px;
}

/* Searchgui stylings */

.searchgui-search-button {
    background-color: rgb(217, 110, 106);
    color: #fff;
    padding: 10px 20px;
    margin: 0px;
    height: 40px;

}

.searchgui-title {
    background-color: rgb(0, 81, 144);
    color: #fff;
    padding: 10px 20px;
    margin: 0px;
    height: 40px;

}

.searchgui-input {
    background-color: rgb(247, 247, 247);
    color: black;
    width: 100%;
    height:40px;
    padding: 10px 20px;
    border-width: 0px;
}

.searchgui-suggestion {
    background-color: rgb(106, 128, 217);
    color: #fff;
    padding: 10px 20px;
    margin: 0px;
    height: 40px;
}

.searchgui-separation-block {
    background-color: black;
    height:3px;
}
