body {
    padding-top: 50px; /* size of the nav bar */
    /*background-color: #DDF1FF;*/
    font-family: "Alef", Arial, Sans-Serif;
}

.wide-input {
    width: 300px;
}

/* navbar */
.photo-container {
    padding: 3px 15px 9px 10px;
}

.logo-photo {
    height: 32px;
}

/*blue dropdowns*/
.dropdown-menu > li > .active-result,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: white;
    background-color: #428bca;
    background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%);
    background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}

.profile-photo {
    align-items: right;
}

#profile-photo {
    margin-left: 20px;
}

#date-row-container {
    height: 20px;
}

#name-row-container {
    height: 20px;
}

#panel-expanded-footer {
    background-color: #555555;
}

#profile-photo {
    max-height: 300px;
}

/*#politicians-dropdown-menu {
	min-width: 1000px;
} */

.link-on-blue {
    color: white;
}

.link-on-blue:hover {
    color: white;
}

.inline-error-p {
    color: red;
    direction: ltr;
    text-align: left;
}

.list-of-elements-title {
    display: none;
}

/*#list-of-search_str-title {*/
/*display: none;*/
/*}*/

#searchgui-operator-input {
    display: none;
}

.main-page-frame {
    text-align: center;
    padding: 0;
}

.main-page-frame-links {
    padding: 0;
    text-align: right;
}

#difference-in-fan-count {
    color: darkgrey;
}

#hasadna-logo-img {
    height: 20px;
}

.hidden-object {
    display: none;
}

#hompage-logo {
    max-width: 100%;
    height: auto;
}

.extra-billboard-info {
    color: darkgrey;
}

/* Autosuggest tags */
.typed-tag {
    background-color: #428bca;
}

.recommended-tag {
    background-color: #5BC0DE;
}

/* RSS Widget Styles*/

.item-description {
    color: green;
}

#language-navbar-he, #language-navbar-en, #language-navbar-ar {
    padding-left: 2px;
    padding-right: 2px;
}

/* Fix search results overflowing on small resolutions */
.navbar-collapse.in {
    overflow-y: visible;
}

/* Fix navigation items margin on low resolution */
@media (max-width: 768px) {
  .navbar-nav {
    margin: 7.5px -6px;
  }
}

/* All-Parties Page */

.parties {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.parties__party-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin: 15px 30px;
  border: 1px solid grey;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex: 1 1 320px;
      -ms-flex: 1 1 320px;
          flex: 1 1 320px;
}

.parties__party-stats {
  display: none; /* Stats are hidden until AJAX call is finishe, then becomes flex. */
  margin-right: 10px;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-basis: 150px;
      -ms-flex-preferred-size: 150px;
          flex-basis: 150px;
}

.parties__party-img {
  -webkit-flex-basis: 150px;
      -ms-flex-preferred-size: 150px;
          flex-basis: 150px;
}

/* Party's Members Page */

.party__info {
  margin: 20px 0;
  font-size: 1.25em;
}

.party__members {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.member__container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin-bottom: 30px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-flex-basis: 200px;
      -ms-flex-preferred-size: 200px;
          flex-basis: 200px;
  text-align: center;
  background: #F7F7F7;
  border: 1px solid #D9D9D9;
}

.member__img {
  border-radius: 20px;
  height: 150px;
}

.member__img--grayscaled {
  -webkit-filter: grayscale(100%) opacity(50%);
  filter: grayscale(100%) opacity(50%);
}

@media (min-width: 768px) {
  .member__img {
    height: 180px;
  }
}

.member__more-info {
  margin-top: 5px;
}
