/*
Colors

I'm not using rgb for any special reason. It was just the easiest way for me to get the colours
used in the pdf design.

darker-gray: rgb(40, 44, 54) - for the extra popout sidemenu
dark-gray: rgb(49, 53, 64) - for the sidebar
gray:  rgb(247,247,247) - for the navbar
dark-blue: rgb(0, 81, 144) - brand, links
blue-sidebar-hover: rgb(0, 60, 106)
gray-social-icons: rgb(233, 234, 236)
blue-social-stats-icons: rgb(40, 70, 120)

// not using:
blue-link-color: rgb(40, 70, 120)
*/

@font-face {
  font-family: 'Alef';
  src: url('../fonts/Alef-Bold.eot');
  src: url('../fonts/Alef-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Alef-Bold.woff') format('woff'),
  url('../fonts/Alef-Bold.ttf') format('truetype'),
  url('../fonts/Alef-Bold.svg#alefbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Alef';
  src: url('../fonts/Alef-Regular.eot');
  src: url('../fonts/Alef-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Alef-Regular.woff') format('woff'),
  url('../fonts/Alef-Regular.ttf') format('truetype'),
  url('../fonts/Alef-Regular.svg#alefregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

* {
  font-family: 'Alef', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*html, body {*/
  /*height: 100%;*/
/*}*/

body {
  text-align: right;
  direction: rtl;
  padding-top: 80px;
  background-color: rgb(49, 53, 64);
}

a {
  /*color: rgb(40, 70, 120);*/
  color: rgb(0, 81, 144);
}

.top-bar {
  height: 80px;
  line-height: 80px;
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.logo {
  display: none;
}
@media (min-width: 768px) {
  .logo {
    float: right;
    background-color: rgb(0, 81, 144);
    color: white;
    height: 100%;
    width: 20%;
    display: block;
    text-align: center;
  }

  .logo > a > img {
    max-width: 80%;
    max-height: 70%;
  }

}

.nav-bar {
  float: right;
  background-color: rgb(247,247,247);
  height: 100%;
  width: 100%;
}
@media (min-width: 768px) {
  .nav-bar {
    width: 80%;
  }
}

.search {
  width: 50%;
  float: right;
  font-weight: 900;
  font-size: 16px;
  padding-right: 20px;
}

.search > .glyphicon-search {
  padding-left: 10px;
}

/*TODO - not 100% right. not using atm*/
#search-input {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.3em;
  line-height: 3;
  vertical-align: middle;
  background: none;
  border: none;
}

.nav-bar-items {
  width: 50%;
  float: right;
  list-style: none;
}

.nav-bar-items > li {
  float: left;
  display: block;
  position: relative;
  padding: 0 20px;
  /*border-right: 1px solid #adadad;*/
  /*indented border effect*/
  border-right: 1px solid rgb(232, 232, 232);
  border-left: 1px solid #fff;
}

/*#indented ul li:first-child {border-left: none;}*/
/*#indented ul li:last-child {border-right: none;}*/

.nav-bar-items > li > a {
  text-decoration: none;
  color: rgb(102, 102, 102);
  font-weight: 600;
  /*display: block;*/
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    /*position: fixed;*/
    /*top: 80px;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*z-index: 1000;*/
    /*overflow-x: hidden;*/
    /*overflow-y: auto; *//* Scrollable contents if viewport is shorter than content. */

    display: block;
    height: 100%;
    float: right;
    width: 20%;
    padding: 20px;
    background-color: rgb(49, 53, 64);
    color: white;
  }
}

.nav-sidebar {
  list-style: none;
  padding-right: 10%;
}

.nav-sidebar > li {
  padding: 2px 0;
}

.nav-sidebar > li > a {
  color: #ffffff;
}

.nav-sidebar-heading {
  font-weight: 600;
  font-size: 16px;
}

.sidebar > hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid rgb(56, 60, 73);
  border-bottom: 1px solid rgb(40, 43, 52);
  margin-right: 10%;
  margin-left: 10%;
}

.main-area {
  width: 100%;
  height: 100%;
  float: right;
  /*height: 800px;*/
  background-color: #fff ;
  padding: 30px 0;
}
@media (min-width: 768px) {
  .main-area {
    width: 80%;
  }
}

.posts-container {
  float: right;
  height: 100%;
  width: 60%;
  background-color: #fff;
}

/* this gives us a vertical horizontal line next to the posts */
.posts-vertical-line-left {
  border-left: 1px solid #eeeeee;
  /*margin: 30px 0;*/
  /*margin: 20px 0 0 0;*/
  /*padding: 0;*/
  /*height: 100%;*/
  /*margin: 20px 0;*/
  /*padding: 20px 12%;*/
}

.posts {
  /*padding: 20px 60px;*/
  padding: 0 8%;
}

.post {

}

.post-mk-image {
  float: right;
  width: 70px;
  height: 70px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.post-head {
  float: right;
}

.post-mk-name {
  font-size: 16px;
  font-weight: 600;
}

.post-time {

}

.post-content {
  float: right;
}

.post-text {

}

.post-image {
  max-width: 100%;
}

.post-social-stats {
  float: left;
  font-size: 14px;
  background-color: rgb(233, 234, 236);
  padding: 10px 15px;
  margin-top: 10px;

  /* rounded corners */
  /* using something like sass with compass makes this a lot easier... consider using in the future */
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px; /* future proofing */
  -khtml-border-radius: 13px; /* for old Konqueror browsers */
}

.post-social-stats > .glyphicon {
  /*color: rgb(0, 81, 144);*/
  color: rgb(40, 70, 120);
}

.extra-info {
  float: right;
  /*background-color: orange;*/
  width: 40%;
  /*padding: 0 30px;*/
  padding: 0 6%;
}

.extra-info-group > ul {
  padding-right: 0;
}

.extra-info-group > ul > li {
  list-style: none;
}