<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERROR 404</title>
</head>
<body>
<div>
    <img src="{{ STATIC_URL }}media/kikar_hamedina_logo.png" class="logo-photo"
         alt="{% trans 'Kikar Hamedina' %}">
    <p>Sorry, The page your requested was not found.<br>
        If you think this page should exist, please contact <a
                href="mailto:yotammanor@gmail.com?subject=כיכר המדינה - עמוד לא נמצא">The system Administrator</a>
    </p>
</div>
</body>
</html>