{% extends "layouts/generic-template.html" %}
{% load i18n %}
{% block title %}
    עמוד לא נמצא
{% endblock title %}



{% block h1 %}
    לא מצאנו את מה שרצית - 400
{% endblock h1 %}

{% block context-header %}
{% endblock context-header %}

{% block main_content %}
    <img src="{{ STATIC_URL }}media/kikar_hamedina_logo.png" class="logo-photo"
         alt="{% trans 'Kikar Hamedina' %}">
    <p>Sorry, The page your requested was not found.<br>
        If you think this page should exist, please contact <a
                href="mailto:yotammanor@gmail.com?subject=כיכר המדינה - עמוד לא נמצא">The system Administrator</a>
    </p>
{% endblock main_content %}

