{% extends "layouts/generic-template.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block title %}
    {% blocktrans %}About Us{% endblocktrans %}
{% endblock title %}

{% block context-header %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                class="sr-only">{% blocktrans %}Close{% endblocktrans %}</span></button>
        <strong>{% blocktrans %}This project is still in beta.{% endblocktrans %}</strong>
        {% blocktrans %}If you found anything wrong here, we'd love to{% endblocktrans %}
        <a href="mailto:yotammanor@gmail.com?subject=כיכר המדינה - דיווח על תקלה">{% blocktrans %}hear about
            it!{% endblocktrans %}</a>
    </div>
{% endblock %}

{% load core_extras %}

{% block main_content %}
    <div class="container main-page-frame">
        <div class="main-page-frame col-lg-12">
            <img src="{{ STATIC_URL }}media/kikar_hamedina_logo.png" style="max-width: 100%; height: auto">
        </div>
        <div class="main-page-frame col-lg-12">
            <h1>{% blocktrans %}Israeli MKs on Social Media{% endblocktrans %}</h1>
        </div>
        <div class="main-page-frame col-lg-12">
            <br>
        </div>
        <div class="main-page-frame container">
            <div class="main-page-frame col-lg-1">
                <br>
            </div>
            <div class="col-lg-10 main-page-frame">
                <h3>{% blocktrans %}Today, {{ number_of_mks }} of the Israeli MKs are active on
                    Facebook.{% endblocktrans %}</h3>
                <h3>{% blocktrans %}We collect and organize what they write - and help you join the
                    conversation.{% endblocktrans %}</h3>
            </div>
            <div class="main-page-frame col-lg-1">
                <br>
            </div>
        </div>
        <div class="main-page-frame col-lg-12">
            <br>
        </div>
        <div class="container main-page-frame">
            <div class="col-lg-1 main-page-frame">
                <br>
            </div>
            <div class="col-lg-10">
                <div class="main-page-frame main-page-frame-links">
                    <h4><b>{% trans 'Wonder what you can find here? Here, you can learn:' %}</b></h4>
                </div>
                <div class="main-page-frame main-page-frame-links">
                    <h4><i class="fa fa-thumbs-o-up"></i> {% trans 'Which statuses where most liked ' %}<a
                            href="{% url 'all-statuses' %}?range=week&order_by=-like_count">{% trans 'this week' %}</a>?
                    </h4>
                </div>
                <div class="main-page-frame main-page-frame-links">
                    <h4><i class="fa fa-thumbs-o-up"></i> {% trans 'What is being discussed at ' %}<a
                            href="{% url 'party' featured_party.id %}?range=week">{{ featured_party.name }}</a> {% trans 'Party these days' %}?
                    </h4>
                </div>
                <div class="main-page-frame main-page-frame-links">
                    <h4><i class="fa fa-thumbs-o-up"></i> {% trans 'Which MKs used the word ' %}<a
                            href='{% url 'search' %}?{{ featured_search.search_value }}'>{{ featured_search.search_name }}</a>?
                    </h4>
                </div>
                <div class="main-page-frame main-page-frame-links">
                    <h4><i class="fa fa-thumbs-o-up"></i> {% trans 'What brought MK ' %}<a
                            href='{% url "member" top_growth.member.id %}'>{{ top_growth.member.name }}</a>
                        {% blocktrans with top_growth_dif_percent=top_growth.dif|percent %}
                            To gain {{ top_growth_dif_percent }} in the number of his/her followers?
                        {% endblocktrans %}
                    </h4>
                </div>
                <div class="main-page-frame main-page-frame-links">
                    <h4><i class="fa fa-thumbs-o-up"></i> {% trans 'And much more, all you need to do is' %} <a
                            href="{% url 'search-gui' %}">{% trans 'Search' %}</a>!
                    </h4>
                </div>
            </div>
            <div class="col-lg-1 main-page-frame">
                <br>
            </div>
        </div>
        <div class="main-page-frame col-lg-12 main-page-frame">
            <br>
        </div>
        <div class="main-page-frame col-lg-12">
            <br>{% trans "Are you looking for something you can't find? Have a cool idea on how to improve this website?" %} <a
                href="mailto:yotammanor@gmail.com">{% trans "We'd love to hear about it!" %}</a>
        </div>
        <div class="main-page-frame col-lg-12">
            <br>
            <br>
            <br>
            {% blocktrans %}This site is a project by{% endblocktrans %}
            <div id="hasadna-logo"><a href="http://www.hasadna.org.il{% if LANGUAGE_CODE != 'he' %}/en/{% endif %}"
                                      rel="nofollow"><img
                    src="http://www.hasadna.org.il/wp-content/themes/sadna2012/images/sadna-logo.png"
                    id="hasadna-logo-img" alt=""><span>
                {% blocktrans %}The Public Knowledge Workshop{% endblocktrans %}</span>
                <span
                        class="small"> ({% trans 'registered' %})</span></a></div>
        </div>
        <br>

        <div>{% include 'core/donate_button.html' %}</div>
    </div>
{% endblock %}
