{% extends "layouts/generic-template.html" %}

{% block title %}אודות{% endblock title %}

{% block h1 %}
    אודות כיכר המדינה
{% endblock %}

{% block content %}
  <div dir="rtl">בכיכר המדינה תמצאו מאגר עדכני של תקשורות חברי כנסת ברשתות החברתיות מאוגדות סביב נושאים משותפים. מטרת הפרוייקט היא לעודד מעורבות של אזרחים ע"י חשיפה ואינטראקציה עם תקשורות הפוליטיקאים במדיום זה. כמו כן האתר מהווה מאגר מידע של אמירות אלו ומאפשר מעקב ותחקור של אחד הכלים פופולרים לתקשורת של חברי כנסת עם הציבור.</div>
<div dir="rtl">&nbsp;</div>
<div dir="rtl">
<div>הפרויקט נוסד במסגרת "<a href="https://hackita.hasadna.org.il/" target="_blank">Hackita</a>" מבוסס כולו על מתנדבים, ולא נתמך ע"י אף גוף מפלגתי.</div>
<div dir="rtl">&nbsp;</div>
<div dir="rtl">&nbsp;</div>
<div><strong>תנאי שימוש:</strong></div>
<div>
<div>השימוש באתר על אחריות המשתמש בלבד.</div>
<div>אנו משתדלים שהמידע שאנחנו מציגים לכם יהיה אמין ומדויק, אולם אין ביכולתנו להבטיח זאת.</div>
</div>
<div>&nbsp;</div>
<div><strong>זכויות יוצרים:</strong></div>
<div>
<div>פרויקט "כיכר המדינה" הוא פרויקט תוכנה חופשית. תוכלו למצוא את קוד המקור כאן .</div>
<div>האחריות והזכיויות לציטוטים באתר שייכים לחברי הכנסת שפרסמו אותם. תמונות הח"כים המוצגות באתר לקוחות מאתר פייסבוק, והזכויות עליהן שמורות לבעליהן.&nbsp;</div>
</div>
<div>&nbsp;</div>
<div><strong>שאלות נפוצות:</strong></div>
<div><br /></div>
<div><span style="text-decoration: underline;">כיצד נאספים ומקוטלגים התכנים באתר ?</span></div>
<div>כל הפוסטים המופיעים באתר נאספים אוטומטית מדפי הפייסבוק של חברי הכנסת ומקוטלגים ידנית על ידי עורכי תוכן.&nbsp;</div>
<div>&nbsp;</div>
<div><span style="text-decoration: underline;">איזה פוסטים לא מופיעים באתר ?</span></div>
<div>עורכי התוכן מססנים פוסטים בעל תוכן אישי, שאינם מביעים עמדה בנושא או שהינם כלליים ללא קשר לנושא ספיציפי.</div>
<div>&nbsp;</div>
<div><span style="text-decoration: underline;">מה לעשות אם ראיתי פוסט שמקוטלג באופן שגוי ?</span></div>
<div>עורכי התוכן משתדלים לבצע קטלוג איכותי ואובייקטיבי. באם נפלה טעות, נא לשלוח מייל ל<a href="mailto:yotammanor@gmail.com" target="_blank">יותם</a>.</div>
<div>&nbsp;</div>
<div><span style="text-decoration: underline;">מי האנשים מאחורי הפרוייקט ?</span></div>
<div>הפרוייקט הונבט ב Hackita ומומש ע"י" יותם מנור, אליעזר שטיינבוק ורוי מילוא בהנחיית אודי אורון ואופיר רובל.</div>
<div>&nbsp;</div>
<div><span style="text-decoration: underline;">אני רוצה להציע שינויים ו/או לעזור מה לעשות ?</span></div>
<div>הצעות אפשר לשלוח&nbsp;<a href="mailto:yotammanor@gmail.com" target="_blank">אלינו</a>. עזרה מכל סוג אחר תתקבל בברכה.&nbsp;<a href="http://www.hasadna.org.il/%D7%94%D7%AA%D7%A0%D7%93%D7%91%D7%95%D7%AA/" target="_blank">זה&nbsp;</a>המקום להתחיל ממנו.</div>
</div>
{% endblock %}


{% block details %}
{% endblock %}