{% extends "layouts/generic-template.html" %}

{% block title %}Billboards{% endblock title %}

{% block h1 %}
    המצעד
{% endblock %}

{% block context-header %}
{% endblock context-header %}

{% block main_content %}

    {% load humanize %}
    {% load core_extras %}
    {#{% load endless %}#}
    {#{% paginate object_list %}#}




    {% for billboard in list_of_billboards %}
        <span class="col-lg-4">
            {% include "core/billboard.html" %}
        </span>
    {% endfor %}
    {#{% show_more "טען עדכונים נוספים" "<span><i class='fa fa-spinner fa-spin'></i> טוען</span>"|escape %}#}


{% endblock %}