<h4 class="list-group-item active">{{ billboard.title }}</h4>

<table class="table table-stripped">

    <thead>
    <tr>
        <th>#</th>
        <th>{{ billboard.headers.name }}</th>
        <th>{{ billboard.headers.value_formatted }}</th>
    </tr>
    </thead>
    <tbody>
    {% for object in billboard.data %}
        <tr>
            <th>{{ forloop.counter }}</th>
            <th>{{ object.name }}</th>
            <th><a href={% url billboard.link_uri_name object.value_reference_link %}>{{ object.value_formatted }}</a></th>

        </tr>
    {% endfor %}
    </tbody>
</table>
