{#<h4 class="billboard-title">{{ billboard.title }}</h4>#}

{% load core_extras %}
<br/>
<div class="list-group-item active">
    <h4>{% autoescape off %}{{ billboard.title | render_icons  }}{% endautoescape %}</h4>
    <h6>{{ billboard.second_title }} &nbsp;</h6>
</div>
<table class="table table-stripped">

    <thead>
    {#    <tr>#}
    {#        <th class="text-right">#</th>#}
    {#        <th class="text-right">{{ billboard.headers.name }}</th>#}
    {#        <th class="text-left">{{ billboard.headers.value_formatted }}</th>#}
    {#    </tr>#}
    </thead>
    <tbody>
    {% for object in billboard.data %}
        <tr>
            <td class="text-right">{{ forloop.counter }}</td>
            <td class="text-right">{{ object.name }}</td>
            <td class="text-left">
                <a href={% url billboard.link_uri_name object.value_reference_link %}>{{ object.value_formatted }}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{# <span class="extra-billboard-info">(מספר נוסף)</span>#}