{% extends "layouts/generic-template.html" %}

{% block title %}Billboards{% endblock title %}

{% block extra_css_files %}
    <link href="{{ STATIC_URL }}css/billboards.css" rel="stylesheet">
{% endblock extra_css_files %}
{% block h1 %}
    המצעד
{% endblock %}

{% block main_content %}
    {% load humanize %}
    {% load core_extras %}

    <div class="billboards-page-container">
        {% for billboard in list_of_billboards %}
            <div class="col-sm-6 col-md-4">
                {% include "core/billboard.html" %}
            </div>
        {% endfor %}
    </div>
{% endblock %}