{% extends "core/facebook_statuses_page.html" %}

{% block title %}{{ search_title }} | תוצאות חיפוש{% endblock title %}

{% block h1 %}
    <i class="fa fa-search"></i></br>
    {{ saved_query.title }}
    {#    {% if members|length > 0 %}#}
    {#    חברי כנסת:{{ members|length }}#}
    {#    {% endif %}#}
    {#    {% if parties|length > 0 %}#}
    {#    מפלגות:{{ parties|length }}#}
    {#    {% endif %}#}
    {#    {% if tags|length > 0 %}#}
    {#    תגיות: {{ tags|length }}#}
    {#    {% endif %}#}
    {#    {% if search_str %}#}
    {#         מילות חיפוש:#}
    {#        {% for search_str_split in search_str %}#}
    {#            {{ search_str_split }}{% if not forloop.last %}, {% endif %}#}
    {#        {% endfor %}#}
    {#    {% endif %}#}
{% endblock %}

{% block context-header %}
<div class="container well" id="details-container">
    <div class="h4">
        מספר תוצאות: {{ number_of_results }}
    </div>
    <div class="h4">
        כותב השאילתא:
        {{ saved_query.user }}
    </div>
    <div class="h4">
        כותרת:
        {{ saved_query.title }}
    </div>
    <div class="h4">
תיאור וקישור:
        <a href="{{ saved_query.path }}"> {{ saved_query.description }}</a>
    </div>
</div>
{% endblock %}
