{% extends "layouts/plain-generic-template.html" %}

{% block title %}Homepage{% endblock title %}

{% block h1 %}
    עמוד ראשי
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div id="context-descriptors" class="well">
                {% block details %}
                    {% include "core/index_details_container.html" %}
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10">
            {% for status in object_list %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>{{ status.feed.person.name }}</h4>
                    </div>
                    <div class="panel-body">
                        {{ status.content|linebreaks }}
                        <hr>
                        <p>
                            <strong>תגים: </strong>
                            {% for tag in status.tags.all %}
                                {{ tag.name }}
                            {% endfor %}
                        </p>
                        {% if user.is_authenticated %}
                            <form class="form-inline" action="{% url 'add-tag' status.id %}" method="POST" role="form">
                                {% csrf_token %}
                                <!--                 <div class="form-group">
                                                    <label for="add-tag">Add tag</label>
                                                    <input type="text" class="form-control" id="add-tag" name="tag" placeholder="Tag">
                                                </div> -->

                                <div class="form-group">
                                    <label class="sr-only" for="add-tag">Add tag</label>
                                    <input type="text" class="form-control wide-input" id="add-tag" name="tag"
                                           placeholder="תכניס תג (comma separated)">
                                </div>

                                <button type="submit" class="btn btn-primary">תוסיף תגים</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-2">
            {%  block sidebar %}
                SIDEBAR
            {%  endblock %}
        </div>
    </div>

{% endblock %}