{% include "core/facebook_status_verbatim_elements.html" %}
{% load humanize %}
{% load core_extras %}
{% load kikartags_extras %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<div class="panel panel-primary status-panel{% if status.needs_refresh %} status-needs-refresh{% endif %}"
     data-statusid="{{ status.status_id }}">
    <div class="panel-heading col-lg-12">
        <div class="row">
            <div class="col-lg-1">
                <a href="{% url 'member' status.feed.persona.owner_id %}">
                    <img src="{{ status.feed.picture_square }}" class="profile-photo img-rounded">
                </a>
            </div>
            <div class="col-lg-9">
                <div class="row" id="name-row-container">
                    <a class="link-on-blue" href="{% url 'member' status.feed.persona.owner_id %}">
                        <h4>{{ status.feed.persona.owner.name }}</h4>
                    </a>
                </div>
                <div class="row" id="party-row-container">
                    <h6>
                        <span>
                        <a class="link-on-blue"
                           href="{% url 'party' status.feed.persona.owner.current_party.id %}">
                            {% if LANGUAGE_CODE != 'he' %}
                                Party: {% endif %}{{ status.feed.persona.owner.current_party.name }}
                        </a>
                        </span>
                        <span>|</span>
                        <span>
                            <a class="link-on-blue" title="{{ status.published |naturaltime_ext:LANGUAGE_CODE }}"
                               href="{% url 'status-detail' status.status_id %}">
                                {{ status.published |naturaltime_ext:LANGUAGE_CODE }}
                            </a>
                        </span>
                        {% if request.path == '/preview/' %}
                            <button class="btn btn-sm exclude-status" style="display: none;"
                                    data-status-id="{{ status.status_id }}"
                                    data-status-name="סטאטוס מאת: {{ status.feed.persona.owner.name }} - {{ status.status_id }}"
                                    id="exclude-status-{{ status.status_id }}"> Exclude Me!
                            </button>
                        {% endif %}
                        {% if status.is_deleted %}
                            {% trans '(This status was deleted)' %}
                        {% endif %}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">{% if status.publication_restricted %}
        <div class="alert alert-danger"
             role="alert">{% trans 'This status is under a gag order from court, and cannot be displayed.' %}</div>
        {% else %}
        <div class="status-content">

            {% autoescape off %}
            {{ status.content | urlize | append_separators  | linebreaks }}
            {% endautoescape %}
        </div>
        {% if status.has_attachment %}

            <div class="container{% if not LANGUAGE_BIDI %} attachment-container-en{% endif %}">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        {% if status.attachment.type == 'photo' %}
                            <div class="panel-body">
                                <div class="container{% if not LANGUAGE_BIDI %} attachment-container-en{% endif %}">
                                    <img src="{{ status.attachment.source }}"
                                         alt="{% trans 'Error loading photo. Click the small Facebook-Logo to the right, to see original status.' %}"
                                         style="max-width: 50%;height: auto; margin: auto"
                                         class="img-responsive center-block img-rounded"></div>
                            </div>

                            {% if status.story %}
                                <div class="panel-footer">
                                    <p dir="ltr">{{ status.story }}</p>
                                </div>
                            {% endif %}

                            {% elif status.attachment.type == 'video' %}
                            <div class="panel-body">
                                <div class="container{% if not LANGUAGE_BIDI %} attachment-container-en{% endif %}"
                                     style="text-align: center">
                                    <video width="auto" height="auto" controls>
                                        <source src="{{ status.attachment.source }}" type="video/mp4">
                                        <source src="{{ status.attachment.source }}" type="video/ogg">
                                        {% trans 'Apologies, your broswer does not support displaying videos.' %}
                                    </video>
                                </div>
                            </div>
                            {% if status.story %}
                                <div class="panel-footer">
                                    <p dir="ltr">{{ status.story }}</p>
                                </div>
                            {% endif %}
                            {% elif status.attachment.type == 'link' %}

                            <a href="{{ status.attachment.link }}">
                                <div class="panel-body">
                                    <div class="container{% if not LANGUAGE_BIDI %} attachment-container-en{% endif %}">
                                        <img src="{{ status.attachment.picture }}"
                                             style="max-width: 50%;height: auto; margin: auto"
                                             class="img-responsive center-block img-rounded"></div>
                                </div>
                            </a>

                            <div class="panel-footer">
                                <h4>{{ status.attachment.name }}</h4>

                                <div class="caption pull-left"
                                     style="color: #999999">{{ status.attachment.caption }}</div>
                                <p>{{ status.attachment.description }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <br>

            <div class="col-md-4">
			<span>
				<b>{% trans 'likes' %}:</b> <span
                    id="{{ status.status_id }}-likes">{{ status.like_count|floatformat:1|intcomma|slice:":-2" }}</span>.
			</span>
                <span>
				<b>{% trans 'comments' %}:</b> <span
                        id="{{ status.status_id }}-comments">{{ status.comment_count|floatformat:1|intcomma|slice:":-2" }}</span>.
			</span>
                <span>
				<b>{% trans 'shares' %}: </b> <span
                        id="{{ status.status_id }}-shares">{{ status.share_count|floatformat:1|intcomma|slice:":-2" }}</span>.
			</span>
                <span>
                <i class="hidden-object fa fa-spinner fa-spin"
                   id="status-metrics-is-updating-indicator-{{ status.status_id }}"></i>
                <i class="hidden-object fa fa-exclamation"
                   id="status-metrics-is-error-indicator-{{ status.status_id }}"></i>
            </span>
            </div>
            <div class="col-md-8">

                <strong style="display:{% if status.tags.count > 0 %}inline{% else %}none{% endif %}">{% trans 'Tags' %}: </strong>
                <span id="{{ status.id }}-tags">
			{% for tag in status.tags.all %}
                {% with tag|proper_tag as tag %}
                    <a href="{% url 'tag' 'name' tag.name %}">
                        <span class="label label-info">{{ tag.name }}</span>
                    </a>
                {% endwith %}
            {% endfor %}
			</span>

                <div class="pull-{% if LANGUAGE_BIDI %}left{% else %}right{% endif %}">

                    <!-- Button trigger modal -->
                    <button class="btn btn-link btn-sm" data-toggle="modal"
                            data-target="#{{ status.status_id }}_modal">
                        <i class="fa fa-facebook-square"></i>
                    </button>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="{{ status.status_id }}_modal" tabindex="-1"
                 role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body text-center">

                            <div class="fb-post" data-href="{{ status | link }}"
                                 data-width="466">
                                <div class="fb-xfbml-parse-ignore">
                                    <a href="{{ status | link }}">פוסט</a> מאת <a
                                        href="{{ status.feed.link }}">{{ status.feed.persona.owner.name }}</a>.
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
            <!-- Add tags option, visible to authenticated users only -->
            {% if user.is_authenticated %}
                <div class="col-sm-12" data-statusid="{{ status.id }}">
                    <hr>
                    {% csrf_token %}
                    <div class="form-group col-sm-4" id="add-tag-dropdown-{{ status.id }}">
                        <input id="add-tag-{{ status.status_id }}" type="text" name="tag"
                               class="form-control add-tag-input input-large" autocomplete="off"
                               placeholder="{% trans 'Insert Tag (Comma separated)' %}" data-toggle="dropdown"
                               data-empty="True"
                               data-statusid="{{ status.status_id }}">

                        <div class="add-tag-list dropdown" id="add-tag-list-{{ status.id }}">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary add-tag-button"
                                id="add-tag-submit">{% trans 'Add Tags' %}
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <div class="hidden-object alert alert-danger" role="alert" id="add-tag-error-{{ status.id }}">
                            <button class="close add-tag-error-close" type="button">
                                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <span id="add-tag-error-msg-{{ status.id }}">&nbsp;</span>
                        </div>
                    </div>
                    <!-- </form> -->
                </div>
            {% endif %}
            <!-- /Add tags option -->
        </div>
        {% endif %}

    </div>
</div>
