{# This is the template for an added tag. #}
{% verbatim %}
<script id="add-tag-to-status-template" type="text/x-handlebars-template">
    <a href="/tag/name/{{name}}">
        <span class="label label-info">{{name}}</span>
    </a>
</script>
{% endverbatim %}


{# This is the template for status tag suggestions #}
{% verbatim %}
<script id="add-tag-result-tag-list-item-template" type="text/x-handlebars-template">
    <div class="add-tag-result-container">
        <button class="btn add-tag-from-list {{#if recommended}} recommended-tag {{else}} typed-tag {{/if}}" data-tag-name="{{name}}">
            <span class="glyphicon glyphicon-tag"></span> {{name}} {{#if recommended}} {{ percent }}% {{/if}}
        </button>
    </div>
</script>
{% endverbatim %}
