{% extends "layouts/generic-template.html" %}

{% block title %}Homepage{% endblock title %}

{% block h1 %}
    עמוד ראשי
{% endblock %}

{% block content %}

    {% load humanize %}
    {% load core_extras %}


    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '{{ facebook_app_id }}',
                status: true,
                xfbml: true
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- For autocomplete for tagging. Can be moved somewhere else -->
    <!-- TODO: availableTags -->
    <script>
        $(function () {
            var availableTags = [
                "ActionScript",
                "AppleScript",
                "Asp",
                "BASIC",
                "C",
                "C++",
                "Clojure",
                "COBOL",
                "ColdFusion",
                "Erlang",
                "Fortran",
                "Groovy",
                "Haskell",
                "Java",
                "JavaScript",
                "Lisp",
                "Perl",
                "PHP",
                "Python",
                "Ruby",
                "Scala",
                "Scheme"
            ];
            $(".add-tag").autocomplete({
                source: availableTags
            });
        });
    </script>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script src="{{ STATIC_URL }}js/styleOrderByLinks.js"></script>
    <script src="{{ STATIC_URL }}js/updateStatusPanelsThroughEndlessPagination.js"></script>


    <div class="row">
        <div class="col-md-9 panel-group">
            <ul class="nav nav-tabs" id="order-by-options">
                <li data-order-by="-published"><a href="{{ request.path }}?order_by=-published">לפי תאריך</a></li>
                <li data-order-by="-like_count"><a href="{{ request.path }}?order_by=-like_count">לפי מספר לייקים</a></li>
                <li data-order-by="-comment_count"><a href="{{ request.path }}?order_by=-comment_count">לפי מספר תגובות</a></li>
                <li data-order-by="custom" id="order-by-custom"><a href="{{ request.get_full_path }}">אחר</a></li>
            </ul>
            {% include "core/facebook_status_list.html" with object_list=object_list %}
        </div>
        <div class="col-md-2">
            {% block sidebar %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-heading"><b> כתבו ב-{{ side_bar_parameter }} השעות
                        האחרונות: </b></li>
                    {% for member in side_bar_list.all %}
                        <li class="list-group-item">
                            <a href="{% url 'member' member.id %}">{{ member.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endblock sidebar %}
        </div>
    </div>
{% endblock %}

