{% extends "layouts/generic-template.html" %}
{% load i18n %}
{% block h1 %}
    {% trans 'Home Page' %}
{% endblock %}

{% block main_content %}

    {% load humanize %}
    {% load core_extras %}

    {% include "core/google_translation_widget.html" %}
    <div id="fb-root"></div>
    <script src="{{ STATIC_URL }}js/fbInit.js"></script>

    <!-- For autocomplete for tagging. Can be moved somewhere else -->
    <!-- TODO: availableTags. -->
    <script>
        // not being used... was causing an error in the console when loading politicians page
        //     $(function () {
        //         // TODO: make this the list of available tags. at the moment it's suggesting nonsense for autocomplete
        //         var availableTags = [
        //             // "ActionScript",
        //             // "AppleScript",
        //             // "Asp",
        //             // "BASIC",
        //             // "C",
        //             // "C++",
        //             // "Clojure",
        //             // "COBOL",
        //             // "ColdFusion",
        //             // "Erlang",
        //             // "Fortran",
        //             // "Groovy",
        //             // "Haskell",
        //             // "Java",
        //             // "JavaScript",
        //             // "Lisp",
        //             // "Perl",
        //             // "PHP",
        //             // "Python",
        //             // "Ruby",
        //             // "Scala",
        //             // "Scheme"
        //         ];
        //         $(".add-tag").autocomplete({
        //             source: availableTags
        //         });
        //     });
    </script>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script src="{{ STATIC_URL }}js/renderLinksForStatusListHandlers.js"></script>
    <script src="{{ STATIC_URL }}js/updateStatusPanelsThroughEndlessPagination.js"></script>


    <div class="row">
        <div class="col-sm-9 panel-group">
            <!-- Order-by links. Actual href is rendered using js/renderLinksForStatusListHandlers.js -->
            {% include 'core/order_by_options.html' %}
            <br>
            <!-- If data is missing -->
            {% block noposts %}
            {% endblock noposts %}
            <!-- List of statuses -->
            {% include "core/facebook_status_list.html" with object_list=object_list %}
        </div>
        <div class="col-sm-3 visible-lg visible-md">
            <!-- Filter-by-date links. Actual href is rendered using js/renderLinksForStatusListHandlers.js -->
            <div><br><br></div>
            {% block date_filter %}
                {% include 'core/date_filter.html' %}
            {% endblock date_filter %}
            <br>
            <br>
            <br>
            <br>
            <br>
            {% block sidebar %}
            {% endblock sidebar %}
        </div>
    </div>
{% endblock %}

