{# This is the template for an added tag. #}
{% verbatim %}
<script id="add-tag-to-status-template" type="text/x-handlebars-template">
    <a href="/tag/name/{{name}}">
        <span class="label label-info">{{name}}</span>
    </a>
</script>
{% endverbatim %}


<!-- This is the template for status tag suggestions  -->
{% verbatim %}
<script id="add-tag-result-tag-list-item-template" type="text/x-handlebars-template">
    <div class="add-tag-result-container">
        <button class="result-main-text btn add-tag-from-list" data-tag-name="{{name}}">
            <span class="glyphicon glyphicon-tag"></span> {{name}}
        </button>
    </div>
</script>
{% endverbatim %}


{% load humanize %}
{% load core_extras %}
{% load kikartags_extras %}
{#<div class="panel panel-primary status-panel{% if status.needs_refresh %} status-needs-refresh{% endif %}"#}
{#    data-statusid="{{ status.status_id }}">#}
{#    <div class="panel-heading col-lg-12">#}
{#        <div class="row">#}
{#            <div class="col-lg-1">#}
{#                <a href="{% url 'member' status.feed.persona.owner_id %}">#}
{#                    <img src="{{ status.feed.picture_square }}" class="profile-photo img-rounded">#}
{#                </a>#}
{#            </div>#}
{#            <div class="col-lg-9">#}
{#                <div class="row" id="name-row-container">#}
{#                    <a class="link-on-blue" href="{% url 'member' status.feed.persona.owner_id %}">#}
{#                        <h4>{{ status.feed.persona.content_object.name }}</h4>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="row" id="party-row-container">#}
{#                    <h6>#}
{#                        <a class="link-on-blue"#}
{#                           href="{% url 'party' status.feed.persona.content_object.current_party.id %}">#}
{#                            <h6>#}
{#                            {{ status.feed.persona.content_object.current_party.name }}#}
{#                            </h6>#}
{#                        </a>#}
{#                        |#}
{#                        <a class="link-on-blue" title="{{ status.published }}" href="{% url 'status-detail' status.status_id %}">#}
{#                            <h6>#}
{#                            {{ status.published | naturaltime }}#}
{#                            </h6>#}
{#                        </a>#}
{#{% if status.is_deleted %}#}
{#    (הסטטוס נמחק)#}
{#{% endif %}#}
{#                    </h6>#}
{#                </div>#}
{#                <div class="row" id="date-row-container">#}
{#                    <a class="link-on-blue" href="{% url 'status-detail' status.status_id %}">#}
{#                        <h6>{{ status.published | naturaltime }}</h6>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="panel-body">#}
{#        {% if status.story %}#}
{#            <p style="color:gray" dir="ltr"> {{ status.story }}</p>#}
{#        {% endif %}#}
{##}
{#        <p>{{ status.content | linebreaks }}</p>#}
{##}
{#        <div class="row">#}
{#            <div class="col-md-4">#}
{#			<span>#}
{#				<b>אהבו: </b> <span#}
{#                    id="{{ status.status_id }}-likes">{{ status.like_count|floatformat:1|intcomma|slice:":-2" }}</span>.#}
{#			</span>#}
{#			<span>#}
{#				<b>הגיבו: </b> <span#}
{#                    id="{{ status.status_id }}-comments">{{ status.comment_count|floatformat:1|intcomma|slice:":-2" }}</span>.#}
{#			</span>#}
{#			<span>#}
{#				<b>שיתפו: </b> <span#}
{#                    id="{{ status.status_id }}-shares">{{ status.share_count|floatformat:1|intcomma|slice:":-2" }}</span>.#}
{#			</span>#}
{#            <span>#}
{#                <i class="hidden-object fa fa-spinner fa-spin"#}
{#                   id="status-metrics-is-updating-indicator-{{ status.status_id }}"></i>#}
{#                <i class="hidden-object fa fa-exclamation"#}
{#                   id="status-metrics-is-error-indicator-{{ status.status_id }}"></i>#}
{#            </span>#}
{#            </div>#}
{#            <div class="col-md-8">#}
{##}
{#                <strong style="display:{% if status.tags.count > 0 %}inline{% else %}none{% endif %}">תגים: </strong>#}
{#			<span id="{{ status.id }}-tags">#}
{#			{% for tag in status.tags.all %}#}
{#                {% with tag|proper_tag as tag %}#}
{#                <a href="{% url 'tag' 'name' tag.name %}">#}
{#                    <span class="label label-info">{{ tag.name }}</span>#}
{#                </a>#}
{#                {% endwith %}#}
{#            {% endfor %}#}
{#			</span>#}
{##}
{#                <div class="pull-left">#}
{#                    <a href="{{ status | link }}" class="btn btn-info btn-xs" target="_blank">הפוסט ב-<i#}
{#                            class="fa fa-facebook-square"></i> </a>#}
{##}
{#                    <!-- Button trigger modal -->#}
{#                    <button class="btn btn-primary btn-xs" data-toggle="modal"#}
{#                            data-target="#{{ status.status_id }}_modal">#}
{#                        {% if status.has_attachment %}#}
{#                            <i class="fa fa-paperclip"></i>#}
{#                        {% else %}#}
{#                            <i>&nbsp;&nbsp;</i>#}
{#                        {% endif %}#}
{#                        צפה בפוסט#}
{#                    </button>#}
{##}
{#                    <!-- Modal -->#}
{#                    <div class="modal fade" id="{{ status.status_id }}_modal" tabindex="-1"#}
{#                         role="dialog"#}
{#                         aria-labelledby="myModalLabel" aria-hidden="true">#}
{#                        <div class="modal-dialog">#}
{#                            <div class="modal-content">#}
{#                                <div class="modal-body text-center">#}
{##}
{#                                    <div class="fb-post" data-href="{{ status | embed_link }}"#}
{#                                         data-width="466">#}
{#                                        <div class="fb-xfbml-parse-ignore">#}
{#                                            <a href="{{ status | embed_link }}">פוסט</a> מאת <a#}
{#                                                href="{{ status.feed.link }}">{{ status.feed.persona.content_object.name }}</a>.#}
{#                                        </div>#}
{##}
{#                                    </div>#}
{#                                    <div class="modal-footer">#}
{#                                        <button type="button" class="btn btn-default"#}
{#                                                data-dismiss="modal">#}
{#                                            Close#}
{#                                        </button>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <!-- /.modal-content -->#}
{#                            </div>#}
{#                            <!-- /.modal-dialog -->#}
{#                        </div>#}
{#                        <!-- /.modal -->#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <!-- Add tags option, visible to authenticated users only -->#}
{#            {% if user.is_authenticated %}#}
{#                <div class="col-sm-12" data-statusid="{{ status.id }}">#}
{#                    <hr>#}
{#                    {% csrf_token %}#}
{#                    <div class="form-group col-sm-4" id="add-tag-dropdown-{{ status.id }}">#}
{#                        <input id="add-tag-{{ status.status_id }}" type="text" name="tag"#}
{#                               class="form-control add-tag-input input-large" autocomplete="off"#}
{#                               placeholder="הכנס תג (comma separated)" data-toggle="dropdown">#}
{##}
{#                        <div class="add-tag-list dropdown" id="add-tag-list-{{ status.id }}">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-sm-4">#}
{#                        <button type="submit" class="btn btn-primary add-tag-button" id="add-tag-submit">הוסף תיוגים#}
{#                        </button>#}
{#                    </div>#}
{#                    <!-- </form> -->#}
{#                </div>#}
{#            {% endif %}#}
{#            <!-- /Add tags option -->#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<div class="post clearfix">
    <img src="{{ status.feed.picture_square }}" alt="" class="post-mk-image"/>

    <div class="post-head clearfix">
        <span class="post-mk-name">
          <a href="{% url 'member' status.feed.persona.owner_id %}">{{ status.feed.persona.owner.name }}</a>
        </span>
        <span class="post-time">
          {{ status.published | naturaltime }}
            {% if status.is_deleted %}
                (הסטטוס נמחק)
            {% endif %}
        </span>

        <div>
            <a class="" href="{% url 'party' status.feed.persona.owner.current_party.id %}">
                {{ status.feed.persona.owner.current_party.name }}
            </a>
        </div>
    </div>
    <div class="post-content">
        <div class="post-text">
            {% if status.story %}
                <p style="color:gray" dir="ltr"> {{ status.story }}</p>
            {% endif %}

            <p>
                {{ status.content | linebreaks | truncatewords:50 }}
                <!-- Button trigger modal -->
                <button class="btn btn-link" data-toggle="modal"
                        data-target="#{{ status.status_id }}_modal">
                    קרא עוד>>>
                </button>
                
                {#{% if status.content|length > 50 %}#}
                    <!-- &nbsp;&nbsp;&nbsp;<a href="{{ status|link }}" target="_blank">קרא עוד>>></a> -->
                {#{% endif %}#}
            </p>
        </div>
        {% if status.has_attachment %}
            {% if status.attachment.type == "photo" %}
                <div class="post-image-container">
                    <img src="{{ status.attachment.source }}" alt="" class="post-image" />
                </div>
            {% elif status.attachment.type == "video" %}
                <div class="post-image-container">
                    <img src="{{ status.attachment.picture }}" alt="" class="post-video"/>
                    <button class="btn play-button"><i class="fa fa-play fa-2x"></i></button>
                    <p>
                        <a href="{{ status.attachment.link }}">{{ status.attachment.caption }}</a>
                    </p>
                </div>
            {% elif status.attachment.type == "link" %}
                <div class="post-link">
                    <img src="{{ status.attachment.source }}" alt="{{ status.attachment.caption }}" class="post-link-image"/>
                    <div class="post-link-text">
                        <h3>{{ status.attachment.name }}</h3>
                        <p>
                            {{ status.attachment.description }} 
                            <span class="pull-left post-link-caption">{{ status.attachment.caption }}</span>
                        </p>
                    </div>
                    <a href="{{ status.attachment.link }}">
                        <span class="link-spanner"></span>
                    </a>
                </div>

<!--                 <div class="post-link">
                    <img src="{{ status.attachment.source }}" alt="{{ status.attachment.caption }}" class="post-image"/>
                    <h3><a href="{{ status.attachment.link }}">{{ status.attachment.name }}</a></h3>
                    <p>
                        {{ status.attachment.description }} 
                        <a href="">{{ status.attachment.caption }}</a>
                    </p>
                </div> -->

                {#                <img src="{{ status.attachment.picture }}" alt="{{ status.attachment.caption }}" class="post-image"/>   This is the thumbnail version #}

            {% elif status.attachment.type == "status" %}

            {% endif %}
            {##}
            {#            <p>Link: {{ status|link }}</p>#}
            {#            <p>Type: {{ status.attachment.type }}</p>#}
            {#            <p>Source: {{ status.attachment.source }}</p>#}
            {#            <p>Source height: {{ status.attachment.source_height }}</p>#}
            {#            <p>Source width: {{ status.attachment.source_width }}</p>#}
        {% endif %}
        {# {{ status|link }} #}
        {# {{ status.id }} #}
        {#        {{ status }}#}
        <!-- <a href="{% url 'status-detail' status.status_id %}">permalink</a> -->
        {# {{ status.is_comment }} #}
        {# {{ status.feed.id }} #}
    </div>
    <div class="post-social-stats">
        <!-- not the intended icons for use. the share icon currently used is quite different to the
         one in the pdf design -->
        <a href="#"><span
                class="glyphicon glyphicon-share"></span> {{ status.share_count|floatformat:1|intcomma|slice:":-2" }}
        </a>
        <a href="#"><span
                class="glyphicon glyphicon-comment"></span> {{ status.comment_count|floatformat:1|intcomma|slice:":-2" }}
        </a>
        <a href="#"><span
                class="glyphicon glyphicon-thumbs-up"></span> {{ status.like_count|floatformat:1|intcomma|slice:":-2" }}
        </a>
    </div>

    <div class="tags-container" style="display:{% if status.tags.count > 0 %}inline{% else %}none{% endif %}">
        <!-- <strong class="pull-right">תגים: </strong> -->
        <ul id="{{ status.id }}-tags" class="pull-right">
            {% for tag in status.tags.all %}
                {% with tag|proper_tag as tag %}
                    <li>
                        <a href="{% url 'tag' 'name' tag.name %}" class="tag-link">
                            {{ tag.name }}
                        </a>
                    </li>
                {% endwith %}
            {% endfor %}
        </ul>
    </div>

    <div>
        <!-- Add tags option, visible to authenticated users only -->
        {% if user.is_authenticated %}
            <div class="add-tags-container" data-statusid="{{ status.id }}">
                {% csrf_token %}
                <div class="form-group pull-right" id="add-tag-dropdown-{{ status.id }}" style="width: 250px;">
                    <input id="add-tag-{{ status.status_id }}" type="text" name="tag"
                           class="form-control add-tag-input input-large" autocomplete="off"
                           placeholder="הכנס תג (comma separated)" data-toggle="dropdown">

                    <div class="add-tag-list dropdown" id="add-tag-list-{{ status.id }}">
                    </div>
                </div>
                <div class="pull-left">
                    <button type="submit" class="btn btn-primary add-tag-button" id="add-tag-submit">
                        הוסף תיוגים
                    </button>
                </div>
                <!-- </form> -->
            </div>
        {% endif %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="{{ status.status_id }}_modal" tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="z-index: 10000">
            <div class="modal-content">
                <div class="modal-body text-center">

                    <div class="fb-post" data-href="{{ status | link }}"
                         data-width="466">
                        <div class="fb-xfbml-parse-ignore">
                            <a href="{{ status | link }}">פוסט</a> מאת <a
                                href="{{ status.feed.link }}">{{ status.feed.persona.owner.name }}</a>.
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<hr/>
