{% extends "layouts/generic-template.html" %}

{% block title %}Homepage{% endblock title %}

{% block h1 %}
    עמוד ראשי
{% endblock %}

{% block content %}

    {% load humanize %}
    {% load core_extras %}


    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '{{ facebook_app_id }}',
                status: true,
                xfbml: true
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- For autocomplete for tagging. Can be moved somewhere else -->
    <!-- TODO: availableTags -->
    <script>
        $(function () {
            var availableTags = [
                "ActionScript",
                "AppleScript",
                "Asp",
                "BASIC",
                "C",
                "C++",
                "Clojure",
                "COBOL",
                "ColdFusion",
                "Erlang",
                "Fortran",
                "Groovy",
                "Haskell",
                "Java",
                "JavaScript",
                "Lisp",
                "Perl",
                "PHP",
                "Python",
                "Ruby",
                "Scala",
                "Scheme"
            ];
            $(".add-tag").autocomplete({
                source: availableTags
            });
        });
    </script>




    <div class="row">
        <div class="col-md-9 panel-group">
            {% load endless %}
            {% paginate object_list %}
            {% for status in object_list %}
                {% include "core/facebook_status.html" with status=status %}
            {% endfor %}
            {% if not object_list %}
                {% block noposts %}
                    <p>לא נמצאו עדכונים</p>
                {% endblock %}
            {% endif %}
        </div>
        <div class="col-md-2">
            {% block sidebar %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-heading"><b> כתבו ב-{{ side_bar_parameter }} השעות
                        האחרונות: </b></li>
                    {% for member in side_bar_list.all %}
                        <li class="list-group-item">
                            <a href="{% url 'member' member.id %}">{{ member.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endblock sidebar %}
        </div>
    </div>
    <ul class="pagination"> {% show_pages %} </ul>
{% endblock %}

