{% extends "core/facebook_statuses_page_newdesign.html" %}

{% block title %}כיכר המדינה - כל העדכונים{% endblock title %}

{#{% block h1 %}#}
{#    <div class="main-page-frame col-lg-12">#}
{#        <img id="homepage-logo" src="{{ STATIC_URL }}media/kikar_hamedina_logo.png">#}
{#    </div>#}
{#    <div class="main-page-frame col-lg-12">#}
{#        <h1>חברי הכנסת ברשתות החברתיות</h1>#}
{#    </div>#}
{#{% endblock %}#}
{##}
{#{% block context-header %}#}
{#    <div class="alert alert-danger alert-dismissible" role="alert">#}
{#        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span#}
{#                class="sr-only">Close</span></button>#}
{#        <strong>האתר עדיין בתהליכי בנייה!</strong> יתכנו פערים וטעויות במידע המוצג באתר, לתשומת ליבך.#}
{#    </div>#}
{#    <div class="container main-page-frame">#}
{#    </div>#}
{#{% endblock %}#}
{##}
{##}
{#{% block details %}#}
{#{% endblock %}#}

{% block extra_info %}

<!--               <div class="extra-info-group">
            <h4>Most popular politicians</h4>
            <ul>
              <li><a href="#">Bibi Netanyahu</a></li>
              <li><a href="#">Yair Lapid</a></li>
              <li><a href="#">Naftali Bennett</a></li>
              <li><a href="#">Avigdor Lieberman</a></li>
              <li><a href="#">Shelly Yechimovich</a></li>
            </ul>
          </div>

          <div class="extra-info-group">
            <h4>Most talked about topic</h4>
            <ul>
              <li><a href="#">Operation Protective Edge</a></li>
              <li><a href="#">Housing costs</a></li>
              <li><a href="#">Taxes</a></li>
              <li><a href="#">Army</a></li>
              <li><a href="#">Women's rights</a></li>
            </ul>
          </div> -->

{% endblock extra_info %}