{% extends "layouts/generic-template.html" %}

{% block title %}דף ניהול | הזנת פרטי פייסבוק{% endblock title %}

{% block h1 %}
אנא הכנס לפייסבוק, ולחץ על הכפתור
{% endblock %}

{% block main_content %}
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '{{facebook_app_id}}',
            xfbml: true,
            version: 'v2.8',
            status: true
        });
        FB.AppEvents.logPageView();
        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {
                console.log('Logged in.');
                setAccessToken()
            }
            else {
                FB.login();
            }
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function setAccessToken() {
        var accessToken = FB.getAccessToken();
        $('#send_access_token').val(accessToken);
        console.log('set access token to ' + accessToken)

    }

</script>

<script type="text/javascript"
        src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    $(document).ready(function (event) {

        var $submit = $('#submit-access-token');
        $submit.click(function (event) {
            console.log('hi');
            var postData = {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'access_token': $('#send_access_token').val()
            };
            $submit.html('<i class="fa fa-spinner fa-spin"></i>');
            $.ajax({
                type: "POST",
                url: "{% url 'get-data-from-facebook'  %}",
                data: postData,
                success: function (data, textStatus, jqXHR) {
                    console.log(data);
                    $submit.text('Done');
                    $submit.attr('disabled', 'disabled');
                },
                dataType: "json"
            });

        })
    })
</script>


<div class="container">
  <div class="fb-login-button"
       data-max-rows="1"
       data-size="small"
       data-show-faces="false"
       onlogin="setAccessToken()"
       data-auto-logout-link="true">
  </div>
  <form action="{% url 'get-data-from-facebook'  %}">
    {% csrf_token %}
    <input type="hidden" name="access_token" id="send_access_token" value="">
    <button type="button" id="submit-access-token" class="btn btn-primary">
      Here
    </button>
  </form>
</div>

{% endblock %}