{% extends "core/facebook_statuses_page.html" %}


{% block title %}מפלגה: {{ object.name }}{% endblock title %}

{% block h1 %}
    <i class="fa fa-group"></i> {{ object.name }}
{% endblock %}

{% block details %}
    <div class="h4">
        מספר דפים במפלגה: {{ object.current_members.count }}
    </div>
{% endblock %}

{%  block sidebar %}
    <ul class="list-group">
        {% for member in object.current_members.all %}
            <li class="list-group-item"> <a href="{% url 'member' member.id %}">
                <i class="fa fa-user"></i>
                {{ member.name }}</a>
            </li>
        {% endfor %}
    </ul>
{%  endblock %}

