{% extends "core/facebook_statuses_page.html" %}

{% load i18n %}
{% block title %}{{ object.name }} | {% trans 'Party' %}{% endblock title %}

{% block h1 %}
    <i class="fa fa-group"></i> {{ object.name }}
{% endblock %}

{% block details %}
    <h4>{% trans 'Number of Facebook Pages for Party' %}: {{ object.current_members.count }}
    </h4>
    <p id="insights" style="display: none">
        <i class="fa fa-bar-chart-o"></i>
        <b>{% trans 'Last Month' %}:</b>
        <span id="ins_n_month">-</span> {% trans 'Statuses' %},
        <span id="ins_mean_likes_month">-</span> {% trans 'Likes on average' %}
        <b style="padding-right: 2em">{% trans 'Last Week' %}:</b>
        <span id="ins_n_week">-</span> {% trans 'Statuses' %},
        <span id="ins_mean_likes_week">-</span> {% trans 'Likes on average' %}
    </p>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $.getJSON('/api/v1/insights/party/{{ object.id }}/', function (party) {
            $("#ins_n_month").text(party.n_statuses_last_month);
            $("#ins_mean_likes_month").text(Math.round(party.mean_status_likes_last_month));
            $("#ins_n_week").text(party.n_statuses_last_week);
            $("#ins_mean_likes_week").text(Math.round(party.mean_status_likes_last_week));
            $('#insights').toggle(true);
        });
    </script>
{% endblock %}
