{% extends "core/facebook_status_list.html" %}

{% block title %}Homepage{% endblock title %}

{% block h1 %}
    <i class="fa fa-user"></i> {{ object.name }}
{% endblock %}

{% block details %}

        <h4>
            <i class="fa fa-group"></i> {{ object.party.name }} <br>
            {% with object.facebook_feed_set.all|first as feed %}
                <i class="fa fa-thumbs-up"></i> {{ feed.fan_count }}
            {% endwith %}
        </h4>

{% endblock %}

{%  block sidebar %}
    <ul class="list-group">
        {% for person in object.party.persons.all %}
            <li class="list-group-item"><i class="fa fa-user"></i> <a href="{% url 'plain-person' person.id %}">{{ person.name }}</a></li>
        {% endfor %}
    </ul>
{%  endblock %}