{% extends "layouts/generic-template.html" %}
{% load humanize %}
{% load kikartags_extras %}

{% block title %}
    תיוגים שבוצעו לאחרונה
{% endblock title %}

{% block h1 %}
    תויג לאחרונה
{% endblock %}

{% load endless %}

{% block main_content %}
    <table class="table">
        <tr class="header">
            <td>תויג לפני</td>
            <td>על ידי</td>
            <td>הסטאטוס</td>
            <td>תגית</td>
        </tr>
        {% paginate 20,5 object_list as objects_in_page %}
        {% for obj in objects_in_page %}
            <tr>
                <td>{{ obj.date_of_tagging|timesince }}</td>
                <td>{{ obj.tagged_by }}</td>
                {% with obj.content_object as status %}
                    <td><a href={% url 'status-detail' status.status_id %}>סטאטוס</a>
                        של {{ status.feed.persona.owner.name }}<br>
                        {{ status.content|truncatewords:10 }}
                    </td>
                {% endwith %}
                <td>{{ obj.tag|proper_tag }}</td>
            </tr>
        {% endfor %}
    </table>
    {% show_more "טען תיוגים נוספים" "<span><i class='fa fa-spinner fa-spin'></i> טוען</span>"|escape %}
{% endblock main_content %}
