<!-- Modal -->
<div class="modal fade" id="save-query-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">שמירת שאילתא</h4>
            </div>
            <div class="modal-body">
                <form id="save-query-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="form-username">שם משתמש</label>
                        <input type="text" name="username" disabled="disabled" class="form-control" id="form-username"
                               placeholder="{{ user.username }}">
                    </div>
                    <div class="form-group">
                        <label for="form-query-title">שם השאילתא</label>
                        <input type="text" name="title" dir="ltr" class="form-control" id="form-query-title"
                               placeholder="lower-case english letters only">
                        <p class="help-block">שמירה של שאילתא בעלת שם זהה לשאילתא קיימת, תביא לעריכתה, במידה והיא שייכת ליוזר שלך.</p>
                        <p id="title-error-message" class="inline-error-p"></p>
                    </div>
                    <div class="form-group">
                        <label for="form-query-description">תיאור</label>
                        <textarea class="form-control" name="description" id="form-query-description" dir="ltr" rows="3" placeholder="Describe your Query here."></textarea>
                    </div>
                    <div class="form-group">
                        <label for="form-query">השאילתא</label>
                        <textarea class="form-control" name="query" id="form-query" dir="ltr" rows="3"></textarea>
                        <p id="query-error-message" class="inline-error-p"></p>

                    </div>
                    <button type="button" id="save-query-submit-form-btn" class="btn btn-primary">שמור שאילתא</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">ביטול</button>
                </form>
            </div>
        </div>
    </div>
</div>