<!-- Modal -->
{% load i18n %}
<div class="modal fade" id="save-query-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{% trans 'Save Query' %}</h4>
            </div>
            <div class="modal-body">
                <form id="save-query-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="form-username">{% trans 'Username' %}</label>
                        <input type="text" name="username" disabled="disabled" class="form-control" id="form-username"
                               placeholder="{{ user.username }}">
                    </div>
                    <div class="form-group">
                        <label for="form-query-title">{% trans 'Query title' %}</label>
                        <input type="text" name="title" dir="ltr" class="form-control" id="form-query-title"
                               placeholder="lower-case english letters only">
                        <p class="help-block">{% blocktrans %}A query title is unique. Saving a query with a used title
                            as an existing query, will update the existing one, given that you are
                            the creator of the original query.{% endblocktrans %}</p>
                        <p id="title-error-message" class="inline-error-p"></p>
                    </div>
                    <div class="form-group">
                        <label for="form-query-description">{% trans 'Description' %}</label>
                        <textarea class="form-control" name="description" id="form-query-description" dir="ltr" rows="3"
                                  placeholder="Describe your Query here."></textarea>
                    </div>
                    <div class="form-group">
                        <label for="form-query">{% trans 'The Query' %}</label>
                        <textarea class="form-control" name="query" id="form-query" dir="ltr" rows="3"></textarea>
                        <p id="query-error-message" class="inline-error-p"></p>

                    </div>
                    <button type="button" id="save-query-submit-form-btn"
                            class="btn btn-primary">{% trans 'Save Query' %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>