<div class="origins-container {% if display == 'small' %}visible-xs {% endif %}{% if display == 'large' %} visible-sm visible-md visible-lg {% endif %}">
    <table class="origin-table">
        {% if search_words %}
        <tr>
            <td>
                <span class="origin-title-container">מילות חיפוש</span>
            </td>
            <td>
                {% for word in search_words %}
                <span class="origin-actual-container">{{word}}</span>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% if members %}
        <tr>
            <td>
                <span class="origin-title-container">ח״כים</span>
            </td>
            <td>
                {% for member in members %}
                <span class="origin-actual-container">{{member.name}}</span>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% if parties %}
        <tr>
            <td>
                <span class="origin-title-container">מפלגות</span>
            </td>
            <td>
                {% for party in parties %}
                <span class="origin-actual-container">{{party.name}}</span>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% if tags %}
        <tr>
            <td>
                <span class="origin-title-container">תגיות</span>
            </td>
            <td>
                {% for tag in tags %}
                <span class="origin-actual-container">{{tag}}</span>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% if parties_missing_members %}
        <tr>
            <td>
                <span class="origin-title-container">הערות</span>
            </td>
            <td rowspan={{parties_missing_members.count}}>
                {% for party, members_missing_feed in parties_missing_members %}
                    <span class="origin-actual-container">{{party}} | {{members_missing_feed|length}}/{{party.number_of_members}}</span>
                    {% for member_missing_feed in members_missing_feed %}
                        <span class="origin-error-container">{{member_missing_feed}}</span>
                    {% endfor %}
                    <span class="clearfix"></span> {# this is here to line break after each party #}
                {% endfor %}
            </td>
        </tr>
        {% endif %}
    </table>
</div>