{% extends "core/facebook_statuses_page.html" %}

{% block title %}Homepage{% endblock title %}

{% block h1 %}
    נושא:
    {{ object.name }}
{% endblock %}

{% block details %}
    <div class="h4">
        סך הכל:
        {{ object.statuses.count }}
    </div>
{% endblock %}

{% block sidebar %}
    <ul class="list-group">
        <li class="list-group-item list-group-item-heading"><b> כתבו בנושא: </b></li>
        {% for content_object in side_bar_list.all %}
            <li class="list-group-item">
                <a href="{% url 'member' content_object.id %}">{{ content_object.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}