{% extends "core/facebook_statuses_page.html" %}

{% load i18n %}
{% block title %} {{ object.name }} | {% trans 'Tag' %}{% endblock title %}

{% block h1 %}
    {% trans 'Tag' %}:
    {% if object.logo %}
        <img src="{{ object.logo.url }}" alt="missing file" width="100" height="100"/>
    {% endif %}
    {{ object.name }}

{% endblock %}

{% block context-header %}
<div class="container well" id="details-container">
    <h4>{% trans 'Total' %}: {{ object_list.count }}</h4>
</div>
{% endblock %}

{% block sidebar %}

{% endblock %}
