# This file defines parameters for the specific server deployment
# It must define (directly or via import):
# SECRET_KEY, FACEBOOK_SECRET_KEY and FACEBOOK_APP_ID
DEBUG = True

TEMPLATE_DEBUG = True

TEMPLATE_STRING_IF_INVALID = "INVALID EXPRESSION: %s"

FACEBOOK_SECRET_KEY = 'YOUR_FACEBOOK_SECRET_KEY'
FACEBOOK_APP_ID = 'YOUR_FACEBOOK_APP_ID'


EMAIL_PORT = 587
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_HOST_USER = 'your@gmail.com'
EMAIL_HOST_PASSWORD = 'YourPassword'
EMAIL_USE_TLS = True